tickTime={{ zookeeper_tick_time }}
dataDir={{ zookeeper_data_dir }}
dataLogDir={{ zookeeper_log_dir }}
clientPort={{ zookeeper_client_port }}
clientPortAddress={{ zookeeper_client_port_address }}
initLimit={{ zookeeper_init_limit }}
syncLimit={{ zookeeper_sync_limit }}
maxClientCnxns={{ zookeeper_max_client_connections }}
preAllocSize={{ zookeeper_preAllocSize }}
snapCount={{ zookeeper_snapCount }}
{% if zookeeper_version is version('3.6.0', '>=') %}
snapSizeLimitInKb={{ zookeeper_snapSizeLimitInKb }}
{% endif %}
{% if zookeeper_autopurge_purgeInterval > 0 %}
autopurge.purgeInterval={{ zookeeper_autopurge_purgeInterval }}
autopurge.snapRetainCount={{ zookeeper_autopurge_snapRetainCount }}
{% endif %}
{% if zookeeper_4lw_commands_whitelist != '' %}
4lw.commands.whitelist={{ zookeeper_4lw_commands_whitelist }}
{% endif %}
quorum.cnxn.threads.size={{ zookeeper_quorum_cnxn_threads_size }}

{% for server in zookeeper_hosts %}
{% if server.host is defined %}
{% if server.ip is defined %}
server.{{server.id}}={{server.ip}}:{{zookeeper_cluster_ports}}
{% else %}
server.{{server.id}}={{server.host}}:{{zookeeper_cluster_ports}}
{% endif %}
{% else %}
server.{{loop.index}}={{server}}:{{zookeeper_cluster_ports}}
{% endif %}
{% endfor %}
